<%=  form_with(model: @post, local: true) do |form| %>
       
      </ul>
    </div>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>
<span class="image">
<%= form.file_field :image %>
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
